<% if user_signed_in? %>
<!-- FORM -->
<%= form_with(model: @intervention, local: true) do |form| %> 
						<!-- CONTACT -->
			<section id="intervention">
				<div class="container">

					<header class="text-center mb-60">
						<h2>Intervention</h2>
						<p class="lead font-lato">Rocket Elevators</p>
						<hr />
					</header>


					<div class="row">

						<!-- FORM -->
						<div class="col-md-8 col-sm-8">

							<h3>Enter details about your <strong><em>Intervention!</em></strong></h3>

							<!--
								MESSAGES
								
									How it works?
									The form data is posted to php/contact.php where the fields are verified!
									php.contact.php will redirect back here and will add a hash to the end of the URL:
										#alert_success 		= email sent
										#alert_failed		= email not sent - internal server error (404 error or SMTP problem)
										#alert_mandatory	= email not sent - required fields empty
										Hashes are handled by assets/js/contact.js

									Form data: required to be an array. Example:
										contact[email][required]  WHERE: [email] = field name, [required] = only if this field is required (PHP will check this)
										Also, add `required` to input fields if is a mandatory field. 
										Example: <input required type="email" value="" class="form-control" name="contact[email][required]">

									PLEASE NOTE: IF YOU WANT TO ADD OR REMOVE FIELDS (EXCEPT CAPTCHA), JUST EDIT THE HTML CODE, NO NEED TO EDIT php/contact.php or javascript
												 ALL FIELDS ARE DETECTED DINAMICALY BY THE PHP

									WARNING! Do not change the `email` and `name`!
												contact[name][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
												contact[email][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
							-->

							<!-- Alert Success -->
							<div id="alert_success" class="alert alert-success mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Thank You!</strong> Your message successfully sent!
							</div><!-- /Alert Success -->


							<!-- Alert Failed -->
							<div id="alert_failed" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>[SMTP] Error!</strong> Internal server error!
							</div><!-- /Alert Failed -->


							<!-- Alert Mandatory -->
							<div id="alert_mandatory" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Sorry!</strong> You need to complete all mandatory (*) fields!
							</div><!-- /Alert Mandatory -->


							<%= form_with model: @intervention , url: root_path do  |f|%>
								<%= invisible_captcha %> <!-- For captcha gem (bonus) -->
								<fieldset>
									<input type="hidden" name="action" value="contact_send" />

                                    <%# <div class="field form-group">
                                        <%= form.label :customer_id %>
                                        <%# <%= form.collection_select :customer_id, Customer.order(:company_name), :id, :company_name, prompt: true %> 
                                    <%# </div> %> 
                                <div class="row" style="margin-left: 1px">
                                <div class="col-md-4">
                                        <%= form.label :customer %>
                                        <%# <%= form.select :customer, options_from_collection_for_select(Customer.all, "id", "company_name"), include_blank: "-Select customer-" %> 
                                        <%= form.select(:customer, Customer.all.collect {|p| [p.company_name, p.id]}.sort_by(&:first), {prompt: "-Select Customer-"}, {class: 'form-control'}) %>
                                        
                                    </div>
                                </div>

                                    <%# <div class="field form-group">
                                        <%= form.label :building_id %>
                                        <%# <%= form.collection_select :building_id, Building.order(:company_name), :id, :company_name, prompt: true %> 
                                    <%# </div>  %>

                                <div class="building-class">
                                <div class="col-md-4">
                                        <%= form.label :building %>
                                        <%# <%= form.select :building, options_from_collection_for_select(Building.all, "id", "id"), include_blank: "-Building id-" %> 
                                        <%= form.select(:building, Building.all.collect {|t| [t.id, t.customer_id ]}, {prompt: "id"},  {class: 'form-control'}) %>
                                    </div>
                                </div>
								

								</fieldset>

								  <div class="toggle-transparent toggle-bordered-full clearfix">
                                <div class="toggle active">
                                    
                            
                                        <hr>
                                    <div class="actions"> 
                                    <%= form.submit class: 'btn btn-primary  fs-15', value: 'Submit', :onclick => "alert('Information about your intervention has been sent to the Rocket Elevators servers !')"%>
                                    
                                    </div>
                                </div>
                            </div>
								<% end %>

						</div>
						<!-- /FORM -->

					</div>

				</div>
			</section>
			<!-- /CONTACT -->         
<% end %>  
<% else %>
<script>window.location.href="/users/sign_in"</script>
<% end %>
